<!--HTML modal to add new sponsors-->

<button type='button' class="btn btn-success" data-toggle="modal" data-target="#exampleModal" style="display: block; width: 12%;">
  Add Partner</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Partner Here</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="newSponsor" (ngSubmit)="onSubmit(newSponsor.value)">
        <div class="modal-body">
           <div class="form-group">
            <div>
                <label for="_sponsorName">Sponsor Name:</label>
                <input id="_sponsorName" class="form-control" type="text" formControlName="_sponsorName">
            </div>
            <div>
                <label for="_contactName">Sponsor Contact Person:</label>
                <input id="_contactName" class="form-control" type="text" formControlName="_contactName">
            </div>
            <div>
                <label for="_contactEmail">Sponsor Contact Email:</label>
                <input id="_contactEmail" class="form-control" type="text" formControlName="_contactEmail">
            </div>
            <div>
                <label for="_status">Sponsor Status (Identified, Contacted, Negotiating, Established</label>
                <select class="form-control" id="_status" formControlName="_status">
                  <option>Identified</option>
                  <option>Contacted</option>
                  <option>Negotiating</option>
                  <option>Established</option>
                </select>
            </div>
            <div>
                <label for="_image">Upload image (<b>I can find one for you </b> if you don't upload anything!):</label>
                <input id="_image" class="form-control" type="file" (change)="onFileChange($event)">
            </div>
           </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add New Partner</button>
        </div>
    </form>
      </div>
    </div>
  </div>
