<!--Root HTML for the application, containing the router outlet and the main sponsor display-->
<div class="container-fluid">
    <div class="row p-3" id="header">
        <b>Symbio</b>   
    </div>
    <div class="row m-3">
        <div class="col-sm-12">
            <app-stats-view></app-stats-view>
        </div>
    </div>
    <div class="row m-3">
       <div class="col-sm-12">
        <app-project-view></app-project-view>
       </div>
    </div>
    <div class="row m-3">
        <div class="col-sm-12">
            <app-sponsors></app-sponsors>
        </div>
    </div>
</div>

<router-outlet></router-outlet>