
<ul class="list-group list-group-horizontal justify-content-center">
    <li class="list-group-item">
        <h1 style="font-size: 4rem; text-align: center;">{{established}}</h1>
        <h3>Partnerships established</h3>
    </li>
    <li class="list-group-item list-group-item-success"><h1>
        <h1 style="font-size: 4rem; text-align: center;">{{negotiating}}</h1>
        <h3>Partnerships in progress</h3>
    </h1></li>
    <li class="list-group-item list-group-item-warning"><h1>
        <h1 style="font-size: 4rem; text-align: center;">{{contacted}}</h1>
        <h3>Awaiting response</h3>
    </h1></li>
    <li class="list-group-item list-group-item-danger"><h1>
        <h1 style="font-size: 4rem; text-align: center;">{{identified}}</h1>
        <h3>Awaiting contact</h3>
    </h1></li>
</ul>
