<div class="modal show" data-backdrop="static" data-keyboard="false" modal-backdrop id="actionModal" tabindex="-1" >
    <div *ngIf="action" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">On {{ action._actiondate}}</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
        <div class="modal-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Date</b><br> {{action._actiondate}}</li>
                <li class="list-group-item"><b>Type</b><br>{{action._actiontype}}</li>
                <li class="list-group-item"><b>User</b><br>{{action._actionuser}}</li>
                <li class="list-group-item"><b>Details</b><br>{{action._actiondetails}}</li>
        </ul>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()" >Close</button>
        </div>
   
      </div>
    </div>
  </div>

