
<div class="container-fluid">
    <div class="row p-2 justify-content-center" id="section" style="display: block;">
        <b>Dashboard</b>
    </div>
   
    <div class="row" style="display: block;">
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item flex-fill p-1">
                <h1 style="font-size: 2rem; text-align: center;">{{established}}</h1>
                <h3 style="text-align: center; font-size: 1.5rem;">Established</h3>
            </li>
            <li class="list-group-item list-group-item-success flex-fill p-1"><h1>
                <h1 style="font-size: 2rem; text-align: center;">{{negotiating}}</h1>
                <h3 style="text-align: center; font-size: 1.5rem;">In progress</h3>
            </h1></li>
            <li class="list-group-item list-group-item-warning flex-fill p-1"><h1>
                <h1 style="font-size: 2rem; text-align: center;">{{contacted}}</h1>
                <h3 style="text-align: center; font-size: 1.5rem;">Awaiting response</h3>
            </h1></li>
            <li class="list-group-item list-group-item-danger flex-fill p-1"><h1>
                <h1 style="font-size: 2rem; text-align: center;">{{identified}}</h1>
                <h3 style="text-align: center; font-size: 1.5rem;">Awaiting contact</h3>
            </h1></li>
        </ul>
    </div>
</div>