<!--HTML component to display list of sponsors-->
<h2>Sponsors</h2>

<div class="container">
    <div class="row">
        <div class='col-6' *ngFor='let sponsor of sponsors, index as i'>
           
            <div class="card">
                <div class='card-body'>
                    <img src={{images[sponsor._sponsorname]}} style="max-width: 12rem">
                    <h3 class='card-title'>{{sponsor._sponsorname}}</h3>
                    <div class='card-text'>
                        <ul>
                            <li>Contact Name: {{sponsor._contactname}}</li>
                            <li>Contact Email: {{sponsor._contactemail}}</li>
                        </ul>
                        <h3>Recent Actions</h3>
                        <ul *ngFor='let action of sponsor._sponsoractions, let i = index'>
                            <li><b>{{action._actiondate}}</b></li>
                            <ul>
                                <li><b>Type: </b>{{action._actiontype}}</li>
                                <li><b>User: </b>{{action._actionuser}}</li>
                                <li><b>Details: </b>{{action._actiondetails}}</li>
                            </ul>
                        </ul>
                        <ul *ngFor='let mail of emails[sponsor._sponsorname]'>
                            <li>{{mail}}</li>
                        </ul>
                    </div>
                    <button class="btn btn-primary" (click)="onClick($event)" id="{{sponsor._id}}">Add Action</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<app-new-sponsor></app-new-sponsor>
<app-new-action *ngIf="selected" [selected]="selected"></app-new-action>
